#cloud-dynamic {
  width: 80%; height: 400px;
}

blockquote.twitter-tweet {
	display: none;
}

#twitter-logo {
	display: inline-block;
	height: 44px;
	width: auto;
	position: relative;
	top: -6px;
	margin: 0 10px 0 0;
}

.tweet-item {
	margin-bottom: 10px;
}

.tweet-details {
	padding-left: 15px;
	font-size: 11px;
	color: #999;
}

.tweet-details a {
	color: #999;
}

#search-container {
	margin-bottom: 20px;
}

.user-search {
	margin-bottom: 20px;
}

.load-tweets-btn {
	display: inline-block;
}

.twitter-logo {
	margin-top: 2px;
	width: auto;
	height: 32px;
	float: right;
}

.liquidFillGaugeText {
  font-family: Helvetica;
  font-weight: bold;
}

.navbar-tweet
{
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  margin: auto;
}
