<div class="side-menu">
	<div class="menu-body">
		<ul class="nav nav-pills nav-stacked sidenav">
			<li ng-class="{active: $state.includes('home')}">
				<a ui-sref="home">
				<span class="glyphicon glyphicon-home"></span>
				</a>
				<ul class="nested-dropdown animated fadeIn">
					<li><a ng-class="{active: $state.includes('home')}" ui-sref="home">{{ 'dashboard' }}</a></li>
				</ul>
			</li>
			<!--<li ng-class="{active: $state.includes('typography')}">-->
				<!--<a ui-sref="typography">-->
				<!--<span class="glyphicon glyphicon-text-size"></span>-->
				<!--</a>-->
				<!--<ul class="nested-dropdown animated fadeIn">-->
					<!--<li><a ng-class="{active: $state.includes('typography')}" ui-sref="typography">{{ 'typography' }}</a></li>-->
				<!--</ul>-->
			<!--</li>-->
            <!--<li ng-class="{active: $state.includes('trending')}">-->
                <!--<a ui-sref="table">-->
                    <!--<span class="glyphicon glyphicon-list"></span>-->
                <!--</a>-->
                <!--<ul class="nested-dropdown animated fadeIn">-->
                    <!--<li><a ng-class="{active: $state.includes('trending')}" ui-sref="table">{{ 'trending' }}</a></li>-->
                <!--</ul>-->
            <!--</li>-->
			<li ng-class="{active: $state.includes('mail')}">
				<a ui-sref="inbox">
				<span class="glyphicon glyphicon-envelope"></span>
				</a>
				<ul class="nested-dropdown animated fadeIn">
					<li class="sidemenu-header">{{ 'ToDo' }}</li>
					<li><a ui-sref="inbox">{{ 'Tasks' }}</a></li>
					<li><a ui-sref="compose">{{ 'Set Reminders' }}</a></li>
				</ul>
			</li>
			<li ng-class="{active: $state.includes('invoice')}">
				<a ui-sref="invoice">
				<span class="glyphicon glyphicon-list-alt"></span>
				</a>
				<ul class="nested-dropdown animated fadeIn">
					<li><a ui-sref="invoice">{{ 'invoice' }}</a></li>
				</ul>
			</li>
			<li ng-class="{active: $state.includes('pages')}">
				<a ui-sref="blank">
				<span class="glyphicon glyphicon-duplicate"></span>
				</a>
				<ul class="nested-dropdown animated fadeIn">
					<li class="sidemenu-header">{{ 'pages' }}</li>
					<li><a ui-sref="trending">{{ 'trending' }}</a></li>
                    <li><a ui-sref="tweets">{{ 'tweets' }}</a></li>
                    <li><a ui-sref="sentiment">{{ 'sentiment' }}</a></li>
					<li><a ui-sref="login">{{ 'login' }}</a></li>
					<li><a ui-sref="404-page">{{ '404page' }}</a></li>
				</ul>
			</li>
		</ul>
	</div>
</div>
