<div class="side-menu">
	<div class="menu-body">
		<ul class="nav nav-pills nav-stacked sidenav">
			<li ng-class="{active: $state.includes('tweets')}">
				<a ui-sref="tweets">
				<span class="glyphicon glyphicon-home"></span>
				</a>
				<ul class="nested-dropdown animated fadeIn">
					<li><a ng-class="{active: $state.includes('tweets')}" ui-sref="tweets">{{ 'dashboard' }}</a></li>
				</ul>
			</li>
			<!--<li ng-class="{active: $state.includes('typography')}">-->
				<!--<a ui-sref="typography">-->
				<!--<span class="glyphicon glyphicon-text-size"></span>-->
				<!--</a>-->
				<!--<ul class="nested-dropdown animated fadeIn">-->
					<!--<li><a ng-class="{active: $state.includes('typography')}" ui-sref="typography">{{ 'typography' }}</a></li>-->
				<!--</ul>-->
			<!--</li>-->
			<li ng-class="{active: $state.includes('inbox')}">
				<a ui-sref="inbox">
				<span class="glyphicon glyphicon-envelope"></span>
				</a>
				<ul class="nested-dropdown animated fadeIn">
					<li class="sidemenu-header">{{ 'ToDo' }}</li>
					<li><a ui-sref="inbox">{{ 'Tasks' }}</a></li>
				</ul>
			</li>
			<li ng-class="{active: $state.includes('trending')}">
				<a ui-sref="trending">
				<span class="glyphicon glyphicon-list-alt"></span>
				</a>
				<ul class="nested-dropdown animated fadeIn">
					<li><a ui-sref="trending">{{ 'trending' }}</a></li>
				</ul>
			</li>
			<li ng-class="{active: $state.includes('pages')}">
				<a ui-sref="blank">
				<span class="glyphicon glyphicon-duplicate"></span>
				</a>
				<ul class="nested-dropdown animated fadeIn">
					<li class="sidemenu-header">{{ 'pages' }}</li>
					<!--<li><a ui-sref="trending">{{ 'trending' }}</a></li>-->
                    <li><a ui-sref="tweets">{{ 'tweets' }}</a></li>
                    <li><a ui-sref="sentiment">{{ 'sentiment' }}</a></li>
				</ul>
			</li>
		</ul>
	</div>
</div>
