<div class="panel-group sidebar" ng-controller="SidebarController">
	<ul class="nav nav-sidebar">
		<li ng-class="{'active' : $location.url().indexOf('home') != -1 ||  $location.url().length === 1}"><a href="#/home">Home</a></li>
		<li ng-class="{'active' : $location.url().indexOf('profile') != -1}"><a href="#/profile">Profile</a></li>
		<li ng-class="{'active' : $location.url().indexOf('admin') != -1}"><a href="#/admin">Admin</a></li>
		<li ng-class="{'active' : $location.url().indexOf('form') != -1 || $location.url().indexOf('user') != -1 }"><a href="#/form">Forms</a></li>
	</ul>
</div>
